body{
  background-color: #46C9E3;
  font-family: Helvetica;
  margin: 0;
}

.header {
  background-color: #ffffff;
  height: 120px;
  width: 100%;
  margin-top: 0px;
  position: fixed;
  top:0;
  background-repeat: repeat-x;
}

.header p{
  text-align: center;
  font-size: 64px;
  padding-top: 25px;
  color: #000000;
  font-family: Agency FB;
  font-weight:bold;
  margin: 0px;
}

.menu_bar {
  background-color: #ff343f;
  height: 50px;
  width: 100%;
  top: 120px;
  position: fixed;
  background-repeat: repeat-x;
}

.menu_bar p{
 text-align: center;
 color: black;
 margin: 0px;
 font-size: 24px;
 font-weight:bold;
 padding-top: 12px;
}

.container {
  margin-top: 170px;
  padding: 5%;
}

.content{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 80%;
  overflow-y: auto;
  background-color: white;
  position: fixed center;
  padding: 50px;
}
/* ------------- links --------------- */
a {
  color: #000000;
  text-decoration: none;
}
a:link {
  color: #000000;
  text-decoration: none;
}
a
:visited {
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

a:active {
  color: #000000;
  text-decoration: none;
}
