<p>
  <strong>english:</strong>
  <%= @translation.english %>
</p>

<p>
  <strong>dutch:</strong>
  <%= @translation.dutch %>
</p>

<p>
  <strong>picture:</strong>
  <%= @translation.picture %>
</p>


<p>
  <strong>sound:</strong>
  <%= @translation.sound %>
</p>
